.rgallery{
    display: flex;
    flex-direction: column;
 }
.rgalleryHeading{
    color: rgb(12, 137, 226);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:36px;
    margin-top:150px;
    margin-bottom:40px;
    padding-left:3px;
    font-weight: 600;
}
.rcarousel{
    margin: auto;
    width:80%;
    transition:.3s ease-in-out;
}
.reach_img{
    width:800px;
    height:550px;
    border-radius:6px;
    transition:1s ease-in-out;
    margin: auto;
}

@media screen and (max-width:412px){
    .reach_img{
        width:350px;
        height:250px;
        border-radius:6px;
        transition:1s ease-in-out;
        margin: auto;
    }
    
}