.all-pages_footer{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    background-color:teal;
    color: rgb(18, 17, 16);
    padding:10px;
}
.rfooterLinks{
    margin:10px;
}
.rfooterLinks a{
    margin-left:2rem;
    color: rgba(244, 233, 111, 0.961);
}
